html, body, #map{
     height: 100%;
     width: 100%;
     margin: 0;
     padding: 0;
    }
    p {
      color: black;
      margin-top: -3px;

    }

.other {
    color: blue;
    margin-bottom: 2em;
    width: 18px;
    height: 18px;
    float: bottom;
    text-decoration: black;
    margin-top: 3px;
    margin-right: 8px;
    border-style: solid;
    border-color: rgb(51, 51, 255);
    background-color: rgba(51, 51, 255, 0.2);
}

.wiki_box {
    margin-bottom: 3em;
    width: 18px;
    height: 18px;
    float: right;
    margin-right: 8px;
    border-style: solid;
    border-color: rgb(191, 63, 191);
    background-color: rgba(191, 62, 255, 0.2);
}




  br {
    line-height:2em;
  }
 
